{# templates/product/index.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
	<div class="row">
		{% for product in products %}
			<div class="col-md-4">
				<div class="card">
					<img src="{{ asset('path_to_your_product_images_directory/' ~ product.getImages()) }}" class="card-img-top" alt="{{ product.getName() }}">
					<div class="card-body">
						<h5 class="card-title">{{ product.getName() }}</h5>
						<p class="card-text">{{ product.getDescription() }}</p>
						<p class="card-price">{{ product.getPrice() }}
							€</p>
						<a href="{{ path('app_product_show', {'id': product.getId()}) }}" class="btn btn-primary">Détails</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
