<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Bienvenue sur Afritex
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg">

		<!-- Ajoutez le lien vers le fichier CSS de Bootstrap -->
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrapmorph.min.css') }}"> {% block stylesheets %}{% endblock %}
		<link
		href="{{ asset('assets/css/styles.css') }}" rel="stylesheet"/>
		<!-- Ajoutez le lien d import d'icones  -->
		<link href="{{ asset('assets/fonts/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
		<link href="{{ asset('assets/fonts/website-font/stylefont.css') }}" rel="stylesheet" type="text/css"/>


	</head>
	<body>
		{% include "_partials/_nav.html.twig" %}
		{% block body %}{% endblock %}
		{% include "_partials/_footer.html.twig" %}

		<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
	</body>
</html>
